body {
    background-color: #3d69d9;
}
.title {
    text-align: center;
    font-size: 50px;
}
.subtitle {
    text-align: center;
}
.image {
    text-align: center;
}
.input{
    text-align: center;
    padding: 20px;
}
#input-field {
    width: 300px;
    padding: 5px;
    border-radius: 20px;
}
button {
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
    width: 80px;
}
p {
    text-align: center;
}
#search-list {
    text-align: center;
}